/**/
body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #2e2e2e;
}

.c-component {
    animation: shape 1s infinite alternate /*ease-in: essa propriedade tbm pode ser incluida no animation*/; /*Chama o @keyframes, é como se fosse uma função*/
    background-color: #2d9cdb;
    animation-timing-function:ease-in;/*Essa propriedade controla a velocidade com que a animação é executada*/
    height: 300px;
    width: 300px;
}




@keyframes fadeOut {/*@keyframes: Defini como a animação sera, em cada estágio da linha do tempo*/
   /*20% etc, é o tempo da animação*/

   from {
       opacity: 1;
   }

   to {
       opacity: 0;
   }
}

/*Tbm, podemos usar o from - to, ao infez dos %*/



@keyframes bounceIn {
    0%{
        transform: scale(0.1);/*Quase invisível*/
        opacity: 0;/*Com opacidade zero ele não aparece de começo*/
    }

    80%{
        transform: scale(1.2);
        opacity: 1;
    }
    
    100% {
        transform: scale(1);
    }
}


@keyframes shape {
    0% {
        border-radius: 0%;
    }

    50% {
        background-color: aqua;
        border-radius: 50% 0 50% 0;
        transform: rotate(.5turn);
    }

    100% {
        background-color: blueviolet;
        border-radius: 50%;
        transform: rotate(1turn);

    }
}